.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 80px;
  /* Sidebar width */
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* Mobile adjustment */
@media (max-width: 1024px) {
  .mainContent {
    margin-left: 0;
    margin-bottom: 70px;
    /* Matched to new sidebar height */
    /* Bottom nav height */
    height: calc(100vh - 70px);
  }
}